/* reset margin and padding and give visible boxes to elements and overall background to darker color*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px dashed red;
  background-color: rgb(209, 209, 209);
}

/* set view-highscore to left of screen */
#view-highscore {
  float: left;
}

/* set Time-Left to right of screen */
#Time-Left {
  float: right;
}

/* container of the question to be place */
.question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid lightgreen;
  height: 100px;
}

/* question itself */
#question-line {
  font-size: 30px;
}

/* container for choices and its buttons and set them at the middle of the container */
.option-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid blue;
}

/* set the start button/checker to middle */
.start-btn-container,
.checker {
  display: flex;
  justify-content: center;
  border: 2px solid purple;
}
